body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    font-size: 16px;
}

.navbar .menu a:hover, .navbar .menu a.active {
    color: #ffa500;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.content {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    margin: 0 0 20px 0;
}

.close-room-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.exit-room-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.exit-room-btn:hover {
    background-color: #cc0000;
}
.close-room-btn:hover {
    background-color: #cc0000;
}

.players-list ul {
    list-style: none;
    padding: 0;
}

.players-list li {
    margin: 10px 0;
}