{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'game_field.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="{% static 'image/LEGO_logo.svg.png' %}" alt="Bunker Logo">
        <span>BUNKER ONLINE</span>
    </div>
    <div class="menu">
        <a href="{% url 'index' %}">Главная</a>
        <a href="#rules">Правила игры</a>
        <a href="#wiki">Вики</a>
        <a href="#updates">Обновления</a>
    </div>
</nav>
<main>
    <div class="sidebar">
        <p>Меню</p>
        <ul>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">3</a></li>
            <li><a href="#4">4</a></li>
            <li><a href="#5">5</a></li>
            <li><a href="#6">6</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Game Start</h1>
        <h2>Player: {{ player.player_name }}</h2>
        <h2>Room: {{ room.name }}</h2>
        <h3>Bunker</h3>
        <p id="bunker-info">Был построен {{ bunker.built_years_ago }} лет назад. {{ bunker.has_hygiene_facilities|yesno:"Есть средства гигиены,Нет средств гигиены" }}, {{ bunker.location_description }}, все спальни на {{ bunker.capacity }} человек</p>
        <p id="bunker-size">Размер бункера: {{ bunker.size_sqm }} кв.м</p>
        <p id="bunker-duration">Время нахождения: {{ bunker.duration_of_stay_years }} год</p>
        <p id="bunker-food">Количество еды: на {{ bunker.food_supply_years }} года</p>
        <p id="bunker-features">В бункере присутствует:</p>
        <ul>
            {% for feature in bunker.features.all %}
                <li>{{ feature.name }}</li>
            {% endfor %}
        </ul>
        <p id="bunker-capacity">Количество мест в бункере: {{ bunker.capacity }}</p>
        <h3>Cataclysm</h3>
        <p id="info-cataclism">{{ cataclysm.year }}: {{ cataclysm.description }}</p>
        <p id="time-to-bunker">Время до бункера: {{ cataclysm.how_many_time_do_you_have }}</p>
        <p id="people">Оставшееся население: {{ cataclysm.remaining_population }}</p>

        <h3>Player Information</h3>
        <table id="myData">
            <tr data-player="{{ player.player_name }}">
                <th>Пол</th>
                <td id="myGender">{{ player.gender.name }}</td>
                <td><button class="{% if player.is_gender_open %}unlocked{% else %}locked{% endif %}" data-info="gender" data-value="{{ player.gender.name }}">{% if player.is_gender_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Телосложение</th>
                <td id="myBodyBuild">{{ player.body_build.name }}</td>
                <td><button class="{% if player.is_body_build_open %}unlocked{% else %}locked{% endif %}" data-info="body_build" data-value="{{ player.body_build.name }}">{% if player.is_body_build_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Человеческая черта</th>
                <td id="myHumanTrait">{{ player.a_human_trait.name }}</td>
                <td><button class="{% if player.is_human_trait_open %}unlocked{% else %}locked{% endif %}" data-info="a_human_trait" data-value="{{ player.a_human_trait.name }}">{% if player.is_human_trait_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Специальность</th>
                <td id="mySpeciality">{{ player.speciality.name }}</td>
                <td><button class="{% if player.is_speciality_open %}unlocked{% else %}locked{% endif %}" data-info="speciality" data-value="{{ player.speciality.name }}">{% if player.is_speciality_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Здоровье</th>
                <td id="myHealth">{{ player.health.name }}</td>
                <td><button class="{% if player.is_health_open %}unlocked{% else %}locked{% endif %}" data-info="health" data-value="{{ player.health.name }}">{% if player.is_health_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Хобби / Увлечение</th>
                <td id="myHobby">{{ player.hobby.name }}</td>
                <td><button class="{% if player.is_hobby_open %}unlocked{% else %}locked{% endif %}" data-info="hobby" data-value="{{ player.hobby.name }}">{% if player.is_hobby_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Фобия / Страх</th>
                <td id="myPhobia">{{ player.phobia.name }}</td>
                <td><button class="{% if player.is_phobia_open %}unlocked{% else %}locked{% endif %}" data-info="phobia" data-value="{{ player.phobia.name }}">{% if player.is_phobia_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Инвентарь</th>
                <td id="myInventory">{{ player.inventory.name }}</td>
                <td><button class="{% if player.is_inventory_open %}unlocked{% else %}locked{% endif %}" data-info="inventory" data-value="{{ player.inventory.name }}">{% if player.is_inventory_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Дополнительные сведения</th>
                <td>{{ player.more_information.name }}</td>
                <td><button class="{% if player.is_more_information_open %}unlocked{% else %}locked{% endif %}" data-info="more_information" data-value="{{ player.more_information.name }}">{% if player.is_more_information_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Special Feature 1</th>
                <td>{{ player.special_feature1.name }}</td>
                <td><button onclick="activateFeature('{{ player.id }}', '{{ player.special_feature1.id }}', 'feature1', '{{ player.special_feature1.name }}')" class="{% if player.is_special_feature1_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature1" data-value="{{ player.special_feature1.name }}">{% if player.is_special_feature1_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr data-player="{{ player.player_name }}">
                <th>Special Feature 2</th>
                <td>{{ player.special_feature2.name }}</td>
                <td><button onclick="activateFeature('{{ player.id }}', '{{ player.special_feature2.id }}', 'feature2', '{{ player.special_feature2.name }}')" class="{% if player.is_special_feature2_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature2" data-value="{{ player.special_feature2.name }}">{% if player.is_special_feature2_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
        </table>
        <h3>Желающие попасть в бункер ({{ room.players.count }}/{{ bunker.capacity }})</h3>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Пол</th>
                <th>Телосложение</th>
                <th>Человеческая черта</th>
                <th>Специальность</th>
                <th>Здоровье</th>
                <th>Хобби / Увлечение</th>
                <th>Фобия / Страх</th>
                <th>Инвентарь</th>
                <th>Дополнительные сведения</th>
            </tr>
            </thead>
            <tbody id="players-info">
            {% for player in room.players.all %}
                <tr data-player="{{ player.player_name }}">
                    <td>{{ player.player_name }}</td>
                    <td class="{% if player.is_gender_open %}unlocked{% else %}locked{% endif %}" data-info="gender">{% if player.is_gender_open %}{{ player.gender.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_body_build_open %}unlocked{% else %}locked{% endif %}" data-info="body_build">{% if player.is_body_build_open %}{{ player.body_build.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_human_trait_open %}unlocked{% else %}locked{% endif %}" data-info="a_human_trait">{% if player.is_human_trait_open %}{{ player.a_human_trait.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_speciality_open %}unlocked{% else %}locked{% endif %}" data-info="speciality">{% if player.is_speciality_open %}{{ player.speciality.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_health_open %}unlocked{% else %}locked{% endif %}" data-info="health">{% if player.is_health_open %}{{ player.health.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_hobby_open %}unlocked{% else %}locked{% endif %}" data-info="hobby">{% if player.is_hobby_open %}{{ player.hobby.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_phobia_open %}unlocked{% else %}locked{% endif %}" data-info="phobia">{% if player.is_phobia_open %}{{ player.phobia.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_inventory_open %}unlocked{% else %}locked{% endif %}" data-info="inventory">{% if player.is_inventory_open %}{{ player.inventory.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_more_information_open %}unlocked{% else %}locked{% endif %}" data-info="more_information">{% if player.is_more_information_open %}{{ player.more_information.name }}{% else %} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Таблица спец.возможностей</h3>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Спец.возможность №1</th>
                <th>Спец.возможность №2</th>
            </tr>
            </thead>
            <tbody id="special-features-info">
            {% for player in room.players.all %}
                <tr data-player="{{ player.player_name }}">
                    <td>{{ forloop.counter }} | {{ player.player_name }}</td>
                    <td class="{% if player.is_special_feature1_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature1">{% if player.is_special_feature1_open %}{{ player.special_feature1.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_special_feature2_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature2">{% if player.is_special_feature2_open %}{{ player.special_feature2.name }}{% else %} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_creator %}
            <h3>Админ панель</h3>
            <button id="start-voting-btn">Начать голосование</button>
            <button id="kick_player">Вигнати гравця</button>
            <button id="end-voting-btn" style="display: none;">Завершить голосование</button>
            <button id="end-game-btn">Закінчити гру</button>
        {% endif %}
        <div id="kickPlayerModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Kick a Player</h2>
                <select id="kickPlayerSelect">
                    {% for player in room.players.all %}
                        {% if player != room.creator %}
                        <option value="{{ player.id }}">{{ player.player_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button id="confirmKickPlayer">Kick Player</button>
            </div>
        </div>


        <div id="voting-section" style="display: none;">
            <h3>Голосование против игрока</h3>
            <form id="voting-form">
                {% for game_player in room.players.all %}
                    {% if game_player.player_name != player.player_name %}
                    <div>
                        <input type="radio" id="vote_{{ game_player.id }}" name="vote" value="{{ game_player.player_name }}">
                        <label for="vote_{{ game_player.id }}">{{ game_player.player_name }}</label>
                    </div>
                    {% endif %}
                {% endfor %}
                <button type="submit">Vote</button>
            </form>
        </div>

        <div id="voting-results" style="display: none;">
            <h3>Результаты голосования</h3>
            <ul id="results-list"></ul>
        </div>
        <div id="changeInventoryModal" style="display:none;" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Change Inventory</h2>
                <select id="playerSelectForInventoryChange">
                    {% for player in room.players.all %}
                    <option value="{{ player.id }}">{{ player.player_name }}</option>
                    {% endfor %}
                </select>
                <button id="confirmInventoryChange">Change Inventory</button>
            </div>
        </div>
        <div id="swapModal" style="display: none;" class="modal">
            <div class="modal-content">
                <span class="closed">&times;</span>
                <h2>Swap ability</h2>
                <select id="playerSwap">
                    {% for game_player in room.players.all %}
                        {% if game_player.player_name != room.creator.player_name %}
                        <option value="{{ game_player.id }}">{{ game_player.player_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="confirm" id="confirmSwap">Swap Something</button>
            </div>
        </div>
    </div>
</main>
<script>
    const roomName = "{{ room.name }}";
    const specialFeature1 = "{{ player.special_feature1 }}"
    const specialFeature2 = "{{ player.special_feature2 }}"

    const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(`${wsScheme}://${window.location.host}/ws/game/${roomName}/`);

    chatSocket.onmessage = function(e) {

        const data = JSON.parse(e.data);
        {#console.log("WebSocket message received:", e.data);#}
        console.log(data);

        switch (data.message) {
            case 'update':
                handleUpdate(data);
                break;
            case 'start_voting':
                displayCandidates(data.candidates);
                break;
            case 'tie_voting':
                handleTieVoting(data);
                break;
            case 'vote':
                updateVotes(data.voter, data.vote);
                break;
            case 'end_voting':
                handleEndVoting(data);
                break;
            case 'inventory_update':
                console.log(data.new_inventory)
                updateInventoryDisplay(data.player_name, data.new_inventory); // Pass room_name as well
                break;
            case 'health_update':
                console.log(data.new_health)
                updateHealthDisplay(data.player_name, data.new_health);
                break;
            case 'speciality_update':
                console.log(data.new_speciality)
                updateSpecialityDisplay(data.player_name, data.new_speciality)
                break;
            case 'hobby_update':
                console.log(data.new_hobby)
                updateHobbyDisplay(data.player_name, data.new_hobby);
                break;
            case 'phobias_update':
                console.log(data.new_phobias)
                updatePhobiasDisplay(data.player_name, data.new_phobias)
                break;
            case 'human_traits_update':
                console.log(data.new_human_traits)
                updateHumanTraitsDisplay(data.player_name, data.new_human_traits)
                break
            case 'change_all_inventories':
                    data.inventories.forEach(inventory => {
                        updateInventoryDisplay(inventory.player_name, inventory.new_inventory);
                    });
                    break;
            case 'bunker_update':
                console.log('Bunker updated to', data.new_bunker);
                updateBunkerDisplay(data.new_bunker);
                break;
            case 'cataclysm_update':
                console.log()
                updateCataclysmDisplay(data.new_cataclysm)
                break;
            case 'you_are_kicked':
                removePlayerFromTables(data.player_name);
                if (data.player_id === "{{ player.id }}") {
                    console.log("You here")
                    console.log(data.player_name)
                    window.location.href = "{% url 'index' %}";
                }
                break;
            case 'end_game':
                console.log("I will end game")
                window.location.href = "{% url 'index' %}";
                break;
            case 'inventory_swap_update':
                console.log('Updating inventories for swap:');
                console.log(`Player ${data.current_player} inventory changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} inventory changed to ${data.swap_attribute}`);
                swapInventory(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
            case 'hobby_swap_update':
                console.log('Updating hobby for swap:');
                console.log(`Player ${data.current_player} hobby changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} hobby changed to ${data.swap_attribute}`);
                swapHobby(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
            case 'health_swap_update':
                console.log('Updating health for swap:');
                console.log(`Player ${data.current_player} health changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} health changed to ${data.swap_attribute}`);
                swapHealth(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
            case 'speciality_swap_update':
                console.log('Updating speciality for swap:');
                console.log(`Player ${data.current_player} speciality changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} speciality changed to ${data.swap_attribute}`);
                swapSpeciality(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
            case 'phobia_swap_update':
                console.log('Updating phobia for swap:');
                console.log(`Player ${data.current_player} phobia changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} phobia changed to ${data.swap_attribute}`);
                swapPhobia(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
            case 'human_traits_swap_update':
                console.log('Updating human trait for swap:');
                console.log(`Player ${data.current_player} human trait changed to ${data.current_attribute}`);
                console.log(`Player ${data.swap_player} human trait changed to ${data.swap_attribute}`);
                swapHumanTrait(data.current_player, data.swap_player, data.current_attribute, data.swap_attribute)
                break;
        }
    };

    function handleTieVoting(data) {
        alert("Tie detected. Please vote again among the tied candidates.");
        handleStartVoting(data);
    }

    function swapHumanTrait(current_player, swap_player, current_human_trait, swap_human_trait){
        $(`tr[data-player="${current_player}"] #myHumanTrait`).text(current_human_trait);
        $(`tr[data-player="${swap_player}"] #myHumanTrait`).siblings('td').find('button').data('value', swap_human_trait);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="a_human_trait"]`).text(current_human_trait);
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="a_human_trait"]`).text(swap_human_trait);
    }

    function swapPhobia(current_player, swap_player, current_phobia, swap_phobia){
        $(`tr[data-player="${current_player}"] #myHumanTrait`).text(current_phobia);
        $(`tr[data-player="${swap_player}"] #myPhobia`).siblings('td').find('button').data('value', swap_phobia);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="phobia"]`).text(current_phobia);
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="phobia"]`).text(swap_phobia);
    }
    function swapSpeciality(current_player, swap_player, current_speciality, swap_speciality){
        $(`tr[data-player="${current_player}"] #mySpeciality`).text(current_speciality);
        $(`tr[data-player="${swap_player}"] #myHumanTrait`).siblings('td').find('button').data('value', swap_speciality);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="speciality"]`).text(current_speciality);
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="speciality"]`).text(swap_speciality);
    }
    function swapHealth(current_player, swap_player, current_health, swap_health){
        $(`tr[data-player="${current_player}"] #myHealth`).text(current_health);
        $(`tr[data-player="${swap_player}"] #myHealth`).siblings('td').find('button').data('value', swap_health);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="health"]`).text(current_health);
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="health"]`).text(swap_health);
    }
    function swapHobby(current_player, swap_player, current_hobby, swap_hobby){
        $(`tr[data-player="${current_player}"] #myHobby`).text(current_hobby);
        $(`tr[data-player="${swap_player}"] #myHobby`).siblings('td').find('button').data('value', swap_hobby);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="hobby"]`).text(current_hobby);
        // Update the inventory display for the swapped player
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="hobby"]`).text(swap_hobby);
    }
    function swapInventory(current_player, swap_player, current_inventory, swap_inventory){
        $(`tr[data-player="${current_player}"] #myInventory`).text(current_inventory);
        $(`tr[data-player="${swap_player}"] #myInventory`).siblings('td').find('button').data('value', swap_inventory);
        $(`#players-info tr[data-player="${current_player}"] td[data-info="inventory"]`).text(current_inventory);
        $(`#players-info tr[data-player="${swap_player}"] td[data-info="inventory"]`).text(swap_inventory);
    }
    function removePlayerFromTables(playerName) {
        // Select and remove player rows from both tables based on data-player attribute
        $(`tr[data-player="${playerName}"]`).remove();
    }

    function updateBunkerDisplay(newBunker){
        // Update HTML elements with new bunker information
        $('#bunker-info').text(`Был построен ${newBunker.built_years_ago} лет назад. ${newBunker.has_hygiene_facilities ? 'Есть средства гигиены' : 'Нет средств гигиены'}, ${newBunker.location_description}, все спальни на ${newBunker.capacity} человек`);
        $('#bunker-size').text(`Размер бункера: ${newBunker.size_sqm} кв.м`);
        $('#bunker-duration').text(`Время нахождения: ${newBunker.duration_of_stay_years} год`);
        $('#bunker-food').text(`Количество еды: на ${newBunker.food_supply_years} года`);
        $('#bunker-features').empty();
        // TODO Тут треба буде змінити
        newBunker.features.forEach(feature => {
            $('#bunker-features').append(`<li>${feature}</li>`);
        });
        $('#bunker-capacity').text(`Количество мест в бункере: ${newBunker.capacity}`)
    }

    function updateCataclysmDisplay(newCataclysm){
        $('#info-cataclysm').text(`${newCataclysm.year} : ${newCataclysm.description}`);
        $('#time-to-bunker').text(`Время до бункера: ${newCataclysm.how_many_time_do_you_have}`);
        $('#people').text(`Оставшееся население: ${newCataclysm.remaining_population}`)
    }


    function activateFeature(player_id, featureId, whichFeature, featureName) {
        if (whichFeature === 'feature1'){
            if(specialFeature1 === true){
                console.log("Already used")
                return;
            }
        }else if(whichFeature === 'feature2') {
            if (specialFeature2 === true){
                console.log("Already used")
                return;
            }
        }

        const inventoryChangeForOnePerson = 'inventory_change_for_one_person';
        const healthChangeForOnePerson = "health_change_for_one_person";
        const specialityChangeForOnePerson = "speciality_change_for_one_person";
        const hobbyChangeForOnePerson = "hobby_change_for_one_person";
        const phobiasChangeForOnePerson= "phobias_change_for_one_person";
        const humanTraitsForOnePerson= "human_traits_for_one_person";
        const swapInventory = "swap_inventory";
        const swapHobby = "swap_hobby";
        const swapHealth = "swap_health";
        const swapSpeciality = "swap_speciality";
        const swapPhobias = "swap_phobia";
        const swapHumanTraits = "swap_human_traits";
        console.log(featureId)
        if(featureName === inventoryChangeForOnePerson
        || featureName === healthChangeForOnePerson
        || featureName === specialityChangeForOnePerson
        || featureName === hobbyChangeForOnePerson
        || featureName === phobiasChangeForOnePerson
        || featureName === humanTraitsForOnePerson){
            console.log("show Inventory Change Modal");
            showInventoryChangeModal(player_id, featureId);
        }else if (featureName === swapInventory
                || featureName === swapHobby
                || featureName === swapHealth
                || featureName === swapSpeciality
                || featureName === swapPhobias
                || featureName === swapHumanTraits){
            console.log("swap Inventory Change Modal")
            swapInventoryChangeModal(player_id, featureId);
        }else {
            console.log("I SEND")
            chatSocket.send(JSON.stringify({
            message: 'activate_feature',
            player_id: player_id,
            feature_id: featureId,
            room_name: roomName // Including room name in the WebSocket message
            }))
        }
    }

    function swapInventoryChangeModal(player_id, feature_id){
        let modal = document.getElementById("swapModal");
        modal.style.display = "block";

        document.getElementById("confirmSwap").onclick = function () {
            let selectedPlayerId = document.getElementById("playerSwap").value;
            console.log(selectedPlayerId)
            chatSocket.send(JSON.stringify({
                message: 'activate_feature',
                player_id: player_id,
                swap_player_id: selectedPlayerId,
                feature_id: feature_id,
                room_name: roomName
            }));
            modal.style.display = "none";
        };
        let span = document.getElementsByClassName("closed")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
    }



    function showInventoryChangeModal(player_id, featureId) {
        let modal = document.getElementById("changeInventoryModal");
        modal.style.display = "block";

        document.getElementById("confirmInventoryChange").onclick = function() {
            let selectedPlayerId = document.getElementById("playerSelectForInventoryChange").value;
            chatSocket.send(JSON.stringify({
                message: 'activate_feature',
                player_id: selectedPlayerId,
                feature_id: featureId,
                room_name: roomName
            }));
            modal.style.display = "none";
        };

        let span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
    }

    function displayResults(votes) {
        const resultsList = $('#results-list');
        resultsList.empty();
        Object.entries(results).forEach(([player, votes]) => {
            resultsList.append(`<li>${player}: ${votes} votes</li>`);
        });
        $('#voting-results').show();
    }


    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly:', e);

    };

    function updateHumanTraitsDisplay(playerName, newHumanTraits){
        console.log("Updating human traits for", playerName, "to", newHumanTraits);
        $(`tr[data-player="${playerName}"] #myHumanTrait`).text(newHumanTraits);
        $(`tr[data-player="${playerName}"] #myHumanTrait`).siblings('td').find('button').data('value', newHumanTraits);
        if ("{{ player.is_human_trait_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="a_human_trait"]`).text(newHumanTraits);
        }
    }
    
    function updatePhobiasDisplay(playerName, newPhobias){
        console.log("Updating phobias for", playerName, "to", newPhobias);
        $(`tr[data-player="${playerName}"] #myPhobia`).text(newPhobias);
        $(`tr[data-player="${playerName}"] #myPhobia`).siblings('td').find('button').data('value', newPhobias);
        if ("{{ player.is_phobia_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="phobia"]`).text(newPhobias);
        }
    }

    function updateHobbyDisplay(playerName, newHobby){
        console.log("Updating hobby for", playerName, "to", newHobby);
        $(`tr[data-player="${playerName}"] #myHobby`).text(newHobby);
        $(`tr[data-player="${playerName}"] #myHobby`).siblings('td').find('button').data('value', newHobby);
        if ("{{ player.is_hobby_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="hobby"]`).text(newHobby);
        }
    }

    function updateSpecialityDisplay(playerName, newSpeciality){
        console.log("Updating speciality for", playerName, "to", newSpeciality);
        $(`tr[data-player="${playerName}"] #mySpeciality`).text(newSpeciality);
        $(`tr[data-player="${playerName}"] #mySpeciality`).siblings('td').find('button').data('value', newSpeciality);
        if("{{ player.is_speciality_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="speciality"]`).text(newSpeciality);
        }
    }

    function updateInventoryDisplay(playerName,newInventory) {
        // Find all inventory display elements and update the one corresponding to the player and room
        console.log("Updating inventory for", playerName, "to", newInventory);
        $(`tr[data-player="${playerName}"] #myInventory`).text(newInventory);
        $(`tr[data-player="${playerName}"] #myInventory`).siblings('td').find('button').data('value', newInventory);
        if ("{{ player.is_inventory_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="inventory"]`).text(newInventory);
        }
    }

    function updateHealthDisplay(playerName, newHealth) {
        console.log("Updating health for", playerName, "to", newHealth);
        $(`tr[data-player="${playerName}"] #myHealth`).text(newHealth);
        $(`tr[data-player="${playerName}"] #myHealth`).siblings('td').find('button').data('value', newHealth);
        if("{{ player.is_health_open }}" === "true"){
            $(`#players-info tr[data-player="${playerName}"] td[data-info="health"]`).text(newHealth);
        }
    }

function handleUpdate(data) {

    $(`#players-info tr[data-player="${data.player_name}"] td[data-info="${data.info_type}"]`).each(function() {
        $(this).removeClass('locked').addClass('unlocked').text(data.info_value);
    });

    // Specific handling for special features
    if (data.info_type === 'special_feature1' || data.info_type === 'special_feature2') {
        $(`#special-features-info tr[data-player="${data.player_name}"] td[data-info="${data.info_type}"]`).each(function() {
            $(this).removeClass('locked').addClass('unlocked').text(data.info_value);
        });
    }
}

    function displayCandidates(candidates) {
        const votingSection = document.getElementById('voting-section');
        const form = document.getElementById('voting-form');
        form.innerHTML = '';  // Clear previous options

        candidates.forEach(candidate => {
            const radioHtml = `
                <div>
                    <input type="radio" id="vote_${candidate.id}" name="vote" value="${candidate.id}">
                    <label for="vote_${candidate.id}">${candidate.name}</label>
                </div>
            `;
            form.innerHTML += radioHtml;
        });

        votingSection.style.display = 'block';
    }


    function handleStartVoting(data) {
        console.log("Starting voting with data:", data);
        // Display voting form with candidates from the server
        const form = $('#voting-form');
        form.empty(); // Clear previous entries

        // Append new options for voting
        data.candidates.forEach(candidate => {
            const radioHtml = `
                <div>
                    <input type="radio" id="vote_${candidate.id}" name="vote" value="${candidate.id}">
                    <label for="vote_${candidate.id}">${candidate.name}</label>
                </div>
            `;
            form.append(radioHtml);
        });

        $('#voting-section').show();
        $('#start-voting-btn').hide();
        $('#end-voting-btn').show();
    }
    
    function displayVotingResults(data) {
        // Відображення розділу результатів
        const resultsList = document.getElementById('results-list');
        resultsList.innerHTML = '';  // Очищаємо попередні результати
    
        // Відображення результатів для кожного кандидата
        data.results.forEach(result => {
            const resultItem = document.createElement('li');
            resultItem.textContent = `${result.candidate}: ${result.votes} votes`;
            resultsList.appendChild(resultItem);
        });
    
        // Відображення переможця, якщо є
        if (data.winner) {
            const winnerElement = document.createElement('h3');
            winnerElement.textContent = `Winner: ${data.winner}`;
            resultsList.appendChild(winnerElement);
        }
    
        document.getElementById('voting-results').style.display = 'block'; // Показуємо блок результатів
    }

    function handleEndVoting(data) {
        // Hide voting section and display results
        $('#voting-section').hide();
        $('#end-voting-btn').hide();
        $('#start-voting-btn').show();
        displayResults(data.results);
    
        if(data.tie) {
            alert('A tie has occurred! Starting a new round of voting.');
            handleStartVoting({candidates: data.tiedCandidates});
        } else {
            alert(`Voting complete. Loser: ${data.loser}`);
        }
    }

    function updateVotes(voter, vote) {
        // Update votes in real-time on the client side
        const resultsList = $('#results-list');
        const existingEntry = resultsList.find(`li[data-voter="${voter}"]`);
        if (existingEntry.length) {
            existingEntry.text(`${voter}: voted for ${vote}`);
        } else {
            resultsList.append(`<li data-voter="${voter}">${voter}: voted for ${vote}</li>`);
        }
    }
    $(document).ready(function() {
        $('#voting-form').submit(function(e) {
            e.preventDefault();
            const vote = $('input[name="vote"]:checked').val();
            chatSocket.send(JSON.stringify({
                message: 'vote',
                vote: vote,
                voter: "{{ player.player_name }}"
            }));
        });

        $('#start-voting-btn').click(function() {
            console.log("Requesting to start voting...");
            chatSocket.send(JSON.stringify({ message: 'start_voting' }));
        });

        $('#end-voting-btn').click(function() {
            chatSocket.send(JSON.stringify({ message: 'end_voting' }));
        });

        $('.locked').click(function() {
            if ($(this).hasClass('unlocked')) {
                return;
            }
            $(this).removeClass('locked').addClass('unlocked').text('🔓');

            const infoType = $(this).data('info');
            console.log(infoType)
            const infoValue = $(this).data('value');
            console.log(infoValue)
            const playerName = "{{ player.player_name }}";

            chatSocket.send(JSON.stringify({
                message: 'update',
                info_type: infoType,
                info_value: infoValue,
                player_name: playerName
            }));

            $.ajax({
                url: '{% url "update_player_info" %}',
                method: 'POST',
                data: {
                    player_name: playerName,
                    info_type: infoType,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Player info updated successfully');
                },
                error: function(response) {
                    console.error('Error updating player info', response);
                }
            });
        });
    });
    
function toggleSpecialFeature(playerId, featureType, isFeatureOpen) {
    const action = isFeatureOpen === 'true' ? 'deactivate' : 'activate';
    chatSocket.send(JSON.stringify({
        type: 'toggle_feature',
        player_id: playerId,
        feature_type: featureType,
        action: action
    }));
}

{#let modal = document.getElementById('kickPlayerModal');#}
{#let btn = document.getElementById('kick_player');#}
{#let span = document.getElementsByClassName('close')[0];#}
{##}
{#btn.onclick = function (){#}
{#    modal.style.display = 'block';#}

{##}
{#span.onclick = function () {#}
{#    modal.style.display = 'none'#}

{##}
{#window.onclick = function(event) {#}
{#    if (event.target === modal) {#}
{#        modal.style.display = "none";#}
{#    }#}

{#document.getElementById("confirmKickPlayer").onclick = function() {#}
{#    let playerId = document.getElementById("kickPlayerSelect").value;#}
{#    chatSocket.send(JSON.stringify({#}
{#        message: 'kick_player',#}
{#        player_id: playerId,#}
{#    }));#}
{#    modal.style.display = "none";#}


//TODO Here doesn't work function
{#$('#end-game-btn').onclick = function () {#}
{#    let room_name = "{{ room.name }}";#}
{#    console.log("I here")#}
{#    chatSocket.send(JSON.stringify({#}
{#        message: 'end_game',#}
{#        room_name: room_name,#}
{#    }));#}

document.getElementById('end-game-btn').onclick = function (){
    let room_name = "{{ room.name }}";
    console.log(room_name)
    console.log("I here")
    chatSocket.send(JSON.stringify({
        message: 'end_game',
        room_name: room_name,
    }));
}


</script>


</body>
</html>