{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Room</title>
    <link rel="stylesheet" href="{% static 'gamestyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <img src="{% static 'image/logo.webp'  %}" alt="Bunker Game Logo">
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'rules' %}">Rules</a></li>
            <li><a href="#settings">Settings</a></li>
            <li><a href="{% url 'about' %}">About developer</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="lobby">
        <h1>Game Lobby</h1>
        <ul id="playerList">
            {% for players in players %}
                <li>
                    {{ players.name }}
                    {% if is_creator %}
                        {% if players.player_name != room.creator.player_name %}
                        <button class="remove-btn" data-player-id="{{ players.player_name }}">Remove</button>
                         {% endif %}   
                    {% endif %}
                </li>
            {% empty %}
                <li>No players in the lobby.</li>
            {% endfor %}
        </ul>
        <div class="control-buttons">
            {% if is_creator %}
                <button id="startGameBtn">Start Game</button>
                <button id="endGameBtn">End Game</button>
            {% else %}
                <button class="close-room-btn" id="exit-room-btn">Exit room</button>
            {% endif %}
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        function updatePlayerList() {
            $.ajax({
                url: '{% url "number_of_people" room.name %}',
                method: 'GET',
                success: function(data) {
                    $('#player-count').text(data.count);
                    let playersList = $('#playerList');
                    playersList.empty();
                    data.players.forEach(function(player) {
                        let playerItem = '<li>' + player.player_name;
                        {% if is_creator %}
                            playerItem += ' <button class="remove-btn" data-player-id="' + player.player_name + '">✖</button>';
                        {% endif %}
                        playerItem += '</li>';
                        playersList.append(playerItem);
                    });

                    if (data.count > 1) {
                        $('#startGameBtn').show();
                    } else {
                        $('#startGameBtn').hide();
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        function checkRoomExists() {
            $.ajax({
                url: '{% url "game_room" room.name %}',
                method: 'GET',
                statusCode: {
                    404: function() {
                        window.location.href = '{% url "index" %}';
                    }
                }
            });
        }

        function checkIfPlayerStillInRoom() {
            $.ajax({
                url: '{% url "check_player_in_room" room.name %}',
                method: 'GET',
                success: function(data) {
                    if (data.status === 'removed') {
                        window.location.href = '{% url "index" %}';
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        function checkIfGameStarted() {
            $.ajax({
                url: '{% url "check_game_started" room.name %}',
                method: 'GET',
                success: function(data) {
                    if (data.is_game_started) {
                        window.location.href = '{% url "start_game" room.name %}';
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        setInterval(updatePlayerList, 1000);
        setInterval(checkRoomExists, 1000);
        setInterval(checkIfPlayerStillInRoom, 1000);
        setInterval(checkIfGameStarted, 1000);

        $(document).on('click', '.remove-btn', function() {
            const playerId = $(this).data('player-id');
            $.ajax({
                url: '{% url "remove_player" room.name %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'player_id': playerId
                },
                success: function(data) {
                    if (data.status === 'success') {
                        updatePlayerList();
                    } else {
                        alert(data.message);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });

        $('#endGameBtn').click(function() {
            $.ajax({
                url: '{% url "close_room" room.name %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.status === 'success') {
                        window.location.href = '{% url "index" %}';
                    } else {
                        alert(data.message);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });

        $('#exit-room-btn').click(function (){
            $.ajax({
                url: '{% url "exit_room" room.name %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.status === 'success') {
                        window.location.href = '{% url "index" %}';
                    } else {
                        alert(data.message);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });

        $('#startGameBtn').click(function() {
            window.location.href = '{% url "start_game" room.name %}';
        });
    });
</script>
</body>
</html>
