{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'game_field.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="{% static 'image/LEGO_logo.svg.png' %}" alt="Bunker Logo">
        <span>BUNKER ONLINE</span>
    </div>
    <div class="menu">
        <a href="{% url 'index' %}">Главная</a>
        <a href="#rules">Правила игры</a>
        <a href="#wiki">Вики</a>
        <a href="#updates">Обновления</a>
    </div>
</nav>
<main>
    <div class="sidebar">
        <p>Меню</p>
        <ul>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">3</a></li>
            <li><a href="#4">4</a></li>
            <li><a href="#5">5</a></li>
            <li><a href="#6">6</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Game Start</h1>
        <h2>Player: {{ player.player_name }}</h2>
        <h2>Room: {{ room.name }}</h2>
        <h3>Bunker</h3>
        <p id="bunker-info">Был построен {{ bunker.built_years_ago }} лет назад. {{ bunker.has_hygiene_facilities|yesno:"Есть средства гигиены,Нет средств гигиены" }}, {{ bunker.location_description }}, все спальни на {{ bunker.capacity }} человек</p>
        <p id="bunker-size">Размер бункера: {{ bunker.size_sqm }} кв.м</p>
        <p id="bunker-duration">Время нахождения: {{ bunker.duration_of_stay_years }} год</p>
        <p id="bunker-food">Количество еды: на {{ bunker.food_supply_years }} года</p>
        <p id="bunker-features">В бункере присутствует:</p>
        <ul>
            {% for feature in bunker.features.all %}
                <li>{{ feature.name }}</li>
            {% endfor %}
        </ul>
        <p id="bunker-capacity">Количество мест в бункере: {{ bunker.capacity }}</p>
        <h3>Cataclysm</h3>
        <p id="info-cataclism">{{ cataclysm.year }}: {{ cataclysm.description }}</p>
        <p id="time-to-bunker">Время до бункера: {{ cataclysm.how_many_time_do_you_have }}</p>
        <p id="people">Оставшееся население: {{ cataclysm.remaining_population }}</p>

        <h3>Player Information</h3>
        <table id="myData">
            <tr>
                <th>Пол</th>
                <td>{{ player.gender.name }}</td>
                <td><button class="{% if player.is_gender_open %}unlocked{% else %}locked{% endif %}" data-info="gender" data-value="{{ player.gender.name }}">{% if player.is_gender_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Телосложение</th>
                <td>{{ player.body_build.name }}</td>
                <td><button class="{% if player.is_body_build_open %}unlocked{% else %}locked{% endif %}" data-info="body_build" data-value="{{ player.body_build.name }}">{% if player.is_body_build_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Человеческая черта</th>
                <td>{{ player.a_human_trait.name }}</td>
                <td><button class="{% if player.is_human_trait_open %}unlocked{% else %}locked{% endif %}" data-info="a_human_trait" data-value="{{ player.a_human_trait.name }}">{% if player.is_human_trait_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Специальность</th>
                <td>{{ player.speciality.name }}</td>
                <td><button class="{% if player.is_speciality_open %}unlocked{% else %}locked{% endif %}" data-info="speciality" data-value="{{ player.speciality.name }}">{% if player.is_speciality_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Здоровье</th>
                <td>{{ player.health.name }}</td>
                <td><button class="{% if player.is_health_open %}unlocked{% else %}locked{% endif %}" data-info="health" data-value="{{ player.health.name }}">{% if player.is_health_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Хобби / Увлечение</th>
                <td>{{ player.hobby.name }}</td>
                <td><button class="{% if player.is_hobby_open %}unlocked{% else %}locked{% endif %}" data-info="hobby" data-value="{{ player.hobby.name }}">{% if player.is_hobby_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Фобия / Страх</th>
                <td>{{ player.phobia.name }}</td>
                <td><button class="{% if player.is_phobia_open %}unlocked{% else %}locked{% endif %}" data-info="phobia" data-value="{{ player.phobia.name }}">{% if player.is_phobia_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Инвентарь</th>
                <td>{{ player.inventory.name }}</td>
                <td><button class="{% if player.is_inventory_open %}unlocked{% else %}locked{% endif %}" data-info="inventory" data-value="{{ player.inventory.name }}">{% if player.is_inventory_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Дополнительные сведения</th>
                <td>{{ player.more_information.name }}</td>
                <td><button class="{% if player.is_more_information_open %}unlocked{% else %}locked{% endif %}" data-info="more_information" data-value="{{ player.more_information.name }}">{% if player.is_more_information_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Special Feature 1</th>
                <td>{{ player.special_feature1.name }}</td>
                <td><button onclick="activateFeature('{{ player.id }}', '{{ player.special_feature1.id }}', 'feature1')" class="{% if player.is_special_feature1_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature1" data-value="{{ player.special_feature1.name }}">{% if player.is_special_feature1_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
            <tr>
                <th>Special Feature 2</th>
                <td>{{ player.special_feature2.name }}</td>
                <td><button onclick="activateFeature('{{ player.id }}', '{{ player.special_feature2.id }}', 'feature2')" class="{% if player.is_special_feature2_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature2" data-value="{{ player.special_feature2.name }}">{% if player.is_special_feature2_open %}🔓{% else %}🔒{% endif %}</button></td>
            </tr>
        </table>
        <h3>Желающие попасть в бункер ({{ room.players.count }}/{{ bunker.capacity }})</h3>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Пол</th>
                <th>Телосложение</th>
                <th>Человеческая черта</th>
                <th>Специальность</th>
                <th>Здоровье</th>
                <th>Хобби / Увлечение</th>
                <th>Фобия / Страх</th>
                <th>Инвентарь</th>
                <th>Дополнительные сведения</th>
            </tr>
            </thead>
            <tbody id="players-info">
            {% for player in room.players.all %}
                <tr data-player="{{ player.player_name }}">
                    <td>{{ player.player_name }}</td>
                    <td class="{% if player.is_gender_open %}unlocked{% else %}locked{% endif %}" data-info="gender">{% if player.is_gender_open %}{{ player.gender.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_body_build_open %}unlocked{% else %}locked{% endif %}" data-info="body_build">{% if player.is_body_build_open %}{{ player.body_build.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_human_trait_open %}unlocked{% else %}locked{% endif %}" data-info="a_human_trait">{% if player.is_human_trait_open %}{{ player.a_human_trait.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_speciality_open %}unlocked{% else %}locked{% endif %}" data-info="speciality">{% if player.is_speciality_open %}{{ player.speciality.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_health_open %}unlocked{% else %}locked{% endif %}" data-info="health">{% if player.is_health_open %}{{ player.health.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_hobby_open %}unlocked{% else %}locked{% endif %}" data-info="hobby">{% if player.is_hobby_open %}{{ player.hobby.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_phobia_open %}unlocked{% else %}locked{% endif %}" data-info="phobia">{% if player.is_phobia_open %}{{ player.phobia.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_inventory_open %}unlocked{% else %}locked{% endif %}" data-info="inventory">{% if player.is_inventory_open %}{{ player.inventory.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_more_information_open %}unlocked{% else %}locked{% endif %}" data-info="more_information">{% if player.is_more_information_open %}{{ player.more_information.name }}{% else %} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Таблица спец.возможностей</h3>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Спец.возможность №1</th>
                <th>Спец.возможность №2</th>
            </tr>
            </thead>
            <tbody id="special-features-info">
            {% for player in room.players.all %}
                <tr data-player="{{ player.player_name }}">
                    <td>{{ forloop.counter }} | {{ player.player_name }}</td>
                    <td class="{% if player.is_special_feature1_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature1">{% if player.is_special_feature1_open %}{{ player.special_feature1.name }}{% else %} {% endif %}</td>
                    <td class="{% if player.is_special_feature2_open %}unlocked{% else %}locked{% endif %}" data-info="special_feature2">{% if player.is_special_feature2_open %}{{ player.special_feature2.name }}{% else %} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_creator %}
            <h3>Админ панель</h3>
            <button id="start-voting-btn">Начать голосование</button>
            <button id="kick_player">Вигнати гравця</button>
            <button id="end-voting-btn" style="display: none;">Завершить голосование</button>
        {% endif %}
        <div id="kickPlayerModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Kick a Player</h2>
                <select id="kickPlayerSelect">
                    {% for player in room.players.all %}
                        <option value="{{ player.id }}">{{ player.player_name }}</option>
                    {% endfor %}
                </select>
                <button id="confirmKickPlayer">Kick Player</button>
            </div>
        </div>


        <div id="voting-section" style="display: none;">
            <h3>Голосование против игрока</h3>
            <form id="voting-form">
                {% for game_player in room.players.all %}
                    {% if game_player.player_name != player.player_name %}
                    <div>
                        <input type="radio" id="vote_{{ game_player.id }}" name="vote" value="{{ game_player.player_name }}">
                        <label for="vote_{{ game_player.id }}">{{ game_player.player_name }}</label>
                    </div>
                    {% endif %}
                {% endfor %}
                <button type="submit">Проголосовать</button>
            </form>
        </div>

        <div id="voting-results" style="display: none;">
            <h3>Результаты голосования</h3>
            <ul id="results-list"></ul>
        </div>
    </div>
</main>
<script>
    const roomName = "{{ room.name }}";
    const specialFeature1 = "{{ player.special_feature1 }}"
    const specialFeature2 = "{{ player.special_feature2 }}"

    const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(`${wsScheme}://${window.location.host}/ws/game/${roomName}/`);

    chatSocket.onmessage = function(e) {

        const data = JSON.parse(e.data);
        {#console.log("WebSocket message received:", e.data);#}
        console.log(data);

        switch (data.message) {
            case 'update':
                handleUpdate(data);
                break;
            case 'start_voting':
                handleStartVoting();
                break;
            case 'vote':
                updateVotes(data.voter, data.vote);
                break;
            case 'end_voting':
                handleEndVoting();
                displayResults(data.votes);  // Оновлення результатів на сторінці
                break;
            case 'inventory_update':
                console.log(data.new_inventory)
                updateInventoryDisplay(data.player_name, data.new_inventory); // Pass room_name as well
                break;
            case 'health_update':
                console.log(data.new_health)
                updateHealthDisplay(data.player_name, data.new_health);
                break;
            case 'speciality_update':
                console.log(data.new_speciality)
                updateSpecialityDisplay(data.player_name, data.new_speciality)
                break;
            case 'hobby_update':
                console.log(data.new_hobby)
                updateHobbyDisplay(data.player_name, data.new_hobby);
                break;
            case 'phobias_update':
                console.log(data.new_phobias)
                updatePhobiasDisplay(data.player_name, data.new_phobias)
                break;
            case 'human_traits_update':
                console.log(data.new_human_traits)
                updateHumanTraitsDisplay(data.player_name, data.new_human_traits)
                break
            case 'change_all_inventories':
                    data.inventories.forEach(inventory => {
                        updateInventoryDisplay(inventory.player_name, inventory.new_inventory);
                    });
                    break;
            case 'bunker_update':
                console.log('Bunker updated to', data.new_bunker);
                updateBunkerDisplay(data.new_bunker);
                break;
            case 'cataclysm_update':
                console.log()
                updateCataclysmDisplay(data.new_cataclysm)
                break;
            case 'you_ara_kicked':
                if (data.player_id === "{{ player.id }}"){
                    window.location.href = "{% url 'index' %}"
                }
        }
    };

    function updateBunkerDisplay(newBunker){
        // Update HTML elements with new bunker information
        $('#bunker-info').text(`Был построен ${newBunker.built_years_ago} лет назад. ${newBunker.has_hygiene_facilities ? 'Есть средства гигиены' : 'Нет средств гигиены'}, ${newBunker.location_description}, все спальни на ${newBunker.capacity} человек`);
        $('#bunker-size').text(`Размер бункера: ${newBunker.size_sqm} кв.м`);
        $('#bunker-duration').text(`Время нахождения: ${newBunker.duration_of_stay_years} год`);
        $('#bunker-food').text(`Количество еды: на ${newBunker.food_supply_years} года`);
        $('#bunker-features').empty();
        // TODO Тут треба буде змінити
        newBunker.features.forEach(feature => {
            $('#bunker-features').append(`<li>${feature}</li>`);
        });
        $('#bunker-capacity').text(`Количество мест в бункере: ${newBunker.capacity}`)
    }

    function updateCataclysmDisplay(newCataclysm){
        $('#info-cataclysm').text(`${newCataclysm.year} : ${newCataclysm.description}`);
        $('#time-to-bunker').text(`Время до бункера: ${newCataclysm.how_many_time_do_you_have}`);
        $('#people').text(`Оставшееся население: ${newCataclysm.remaining_population}`)
    }


    function activateFeature(player_id, featureId, whichFeature) {
        if (whichFeature === 'feature1'){
            if(specialFeature1 === true){
                console.log("Already used")
                return;
            }
        }else if(whichFeature === 'feature2') {
            if (specialFeature2 === true){
                console.log("Already used")
                return;
            }
        }
        chatSocket.send(JSON.stringify({
            message: 'activate_feature',
            player_id: player_id,
            feature_id: featureId,
            room_name: roomName // Including room name in the WebSocket message
    }))}

    function displayResults(votes) {
        const resultsList = $('#results-list');
        resultsList.empty();
        for (const [player, voters] of Object.entries(votes)) {
            resultsList.append(`<li>${player}: ${voters.length} votes</li>`);
        }
        $('#voting-results').show();  // Переконайтесь, що цей блок показується
    }


    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly:', e);

    };

    function updateHumanTraitsDisplay(playerName, newHumanTraits){
        console.log("Updating speciality for", playerName, "to", newHumanTraits);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="a_human_trait"]`).text(newHumanTraits);
    }
    
    function updatePhobiasDisplay(playerName, newPhobias){
        console.log("Updating speciality for", playerName, "to", newPhobias);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="phobia"]`).text(newPhobias);
    }

    function updateHobbyDisplay(playerName, newHobby){
        console.log("Updating speciality for", playerName, "to", newHobby);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="hobby"]`).text(newHobby);
    }

    function updateSpecialityDisplay(playerName, newSpeciality){
        console.log("Updating speciality for", playerName, "to", newSpeciality);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="speciality"]`).text(newSpeciality);
    }

    function updateInventoryDisplay(playerName,newInventory) {
        // Find all inventory display elements and update the one corresponding to the player and room
        console.log("Updating inventory for", playerName, "to", newInventory);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="inventory"]`).text(newInventory);
    }

    function updateHealthDisplay(playerName, newHealth) {
        console.log("Updating health for", playerName, "to", newHealth);
        $(`#players-info tr[data-player="${playerName}"] td[data-info="health"]`).text(newHealth);
    }

function handleUpdate(data) {

    $(`#players-info tr[data-player="${data.player_name}"] td[data-info="${data.info_type}"]`).each(function() {
        $(this).removeClass('locked').addClass('unlocked').text(data.info_value);
    });

    // Specific handling for special features
    if (data.info_type === 'special_feature1' || data.info_type === 'special_feature2') {
        $(`#special-features-info tr[data-player="${data.player_name}"] td[data-info="${data.info_type}"]`).each(function() {
            $(this).removeClass('locked').addClass('unlocked').text(data.info_value);
        });
    }
}

    function handleStartVoting() {
        $('#voting-section').show();
        $('#start-voting-btn').hide();
        $('#end-voting-btn').show();
    }

    function handleEndVoting() {
        $('#voting-section').hide();
        $('#end-voting-btn').hide();
        $('#start-voting-btn').show();
        $('#voting-results').show();
    }

    function updateVotes(voter, vote) {
        const resultsList = $('#results-list');
        const existingEntry = resultsList.find(`li[data-voter="${voter}"]`);
        if (existingEntry.length) {
            existingEntry.text(`${voter}: voted for ${vote}`);
        } else {
            resultsList.append(`<li data-voter="${voter}">${voter}: voted for ${vote}</li>`);
        }
    }
    $(document).ready(function() {
        $('#voting-form').submit(function(e) {
            e.preventDefault();
            const vote = $('input[name="vote"]:checked').val();
            chatSocket.send(JSON.stringify({
                message: 'vote',
                vote: vote,
                voter: "{{ player.player_name }}"
            }));
        });

        $('#start-voting-btn').click(function() {
            chatSocket.send(JSON.stringify({ message: 'start_voting' }));
        });

        $('#end-voting-btn').click(function() {
            chatSocket.send(JSON.stringify({ message: 'end_voting' }));
        });

        $('.locked').click(function() {
            if ($(this).hasClass('unlocked')) {
                return;
            }
            $(this).removeClass('locked').addClass('unlocked').text('🔓');

            const infoType = $(this).data('info');
            console.log(infoType)
            const infoValue = $(this).data('value');
            console.log(infoValue)
            const playerName = "{{ player.player_name }}";

            chatSocket.send(JSON.stringify({
                message: 'update',
                info_type: infoType,
                info_value: infoValue,
                player_name: playerName
            }));

            $.ajax({
                url: '{% url "update_player_info" %}',
                method: 'POST',
                data: {
                    player_name: playerName,
                    info_type: infoType,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Player info updated successfully');
                },
                error: function(response) {
                    console.error('Error updating player info', response);
                }
            });
        });
    });
    
function toggleSpecialFeature(playerId, featureType, isFeatureOpen) {
    const action = isFeatureOpen === 'true' ? 'deactivate' : 'activate';
    chatSocket.send(JSON.stringify({
        type: 'toggle_feature',
        player_id: playerId,
        feature_type: featureType,
        action: action
    }));
}
let modal = document.getElementById('kickPlayerModal');
let btn = document.getElementById('kick_player');
let span = document.getElementsByClassName('close')[0];

btn.onclick = function (){
    modal.style.display = 'block';
}

span.onclick = function () {
    modal.style.display = 'none'
}

window.onclick = function(event) {
    if (event.target === modal) {
        modal.style.display = "none";
    }
}
document.getElementById("confirmKickPlayer").onclick = function() {
    let playerId = document.getElementById("kickPlayerSelect").value;
    chatSocket.send(JSON.stringify({
        message: 'kick_player',
        player_id: playerId
    }));
    modal.style.display = "none";
}

</script>


</body>
</html>