{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <img src="{% static 'image/logo.webp'  %}" alt="Bunker Game Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#settings">Settings</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="create-room">
        <h1>Create Game Room</h1>
        <form method="post" action="{% url 'game' %}">
            {% csrf_token %}
            <label for="username">Your name *</label>
            <input type="text" id="username" name="player_name" required>
            <div class="g-recaptcha" data-sitekey="your-site-key"></div>
            <input type="submit" value="Создать игру!">
        </form>
    </section>
    <section class="join-room">
        <h1>Join Game Room</h1>
        <form method="post" action="{% url 'join_room' %}">
            {% csrf_token %}
            <label for="room_name">Room name *</label>
            <input type="text" id="room_name" name="room_name" required>
            <label for="username">Your name *</label>
            <input type="text" id="username" name="player_name" required>
            <input type="submit" value="Присоединиться">
        </form>
    </section>
    <section class="ongoing-games">
        <h1>Ongoing Games</h1>
        <ul id="gameList">
            {% for room in player_rooms %}
                <li>
                    <a href="{% url 'game_room' room.name %}">{{ room.name }}</a>
                </li>
            {% empty %}
                <li>You haven't joined any game rooms.</li>
            {% endfor %}
        </ul>
    </section>
</main>
<footer>
    © 2024 Bunker Game. All rights reserved.
</footer>
<script>
    function fetchPlayerRoom(){
        $.ajax({
            url: "{% url 'player_rooms_list' %}",
            type: "GET",
            success: function(data) {
                const gameList = $('#gameList');
                gameList.empty(); // Clear the current list

                if (data.rooms.length === 0) {
                    gameList.append('<li>You haven\'t joined any game rooms.</li>');
                } else {
                    data.rooms.forEach(room_game => {
                        const listItem = $('<li>');
                        const link = $('<a>').attr('href', "{% url 'game_room' 'room_game.name' %}").text(room_game.name);
                        listItem.append(link);
                        gameList.append(listItem);
                    });
                }
            },
            error: function(error) {
                console.error('Error fetching player rooms:', error);
            }
        });
    }

    // Fetch player rooms list every 10 seconds
    setInterval(fetchPlayerRoom, 10000);
    // Fetch the list when the page loads
    $(document).ready(fetchPlayerRoom);
</script>
</body>
</html>