{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="{% static 'image/LEGO_logo.svg.png' %}" alt="Bunker Logo">
        <span>BUNKER ONLINE</span>
    </div>
    <div class="menu">
        <a href="#home" class="active">Главная</a>
        <a href="#rules">Правила игры</a>
        <a href="#wiki">Вики</a>
        <a href="#updates">Обновления</a>
    </div>
</nav>
<main>
    <div class="parallax" style="background-image: url('{% static 'image/giphy.gif' %}');"></div>

    <div class="content">
        <h1>BunkerOnline</h1>
        <p>Добро пожаловать на сайт игры «Бункер Онлайн»</p>
        <p>В игре ты получаешь уникального персонажа, которым постараешься доказать всем, что именно ты должен попасть в бункер, чтобы спастись! Ты должен быть готов к любым препятствиям. Остальные игроки, пытающиеся выжить, будут доказывать обратное...</p>
    </div>
    <div class="content">
        <div class="form-container">
            <h2>Создание игровой комнаты</h2>
            <form method="post" action="{% url 'game' %}">
                {% csrf_token %}
                <label for="username">Ваше имя *</label>
                <input type="text" id="username" name="player_name" required>
                <div class="g-recaptcha" data-sitekey="your-site-key"></div>
                <input type="submit" value="Создать игру!">
            </form>
        </div>
    </div>
    <div class="content">
        <div class="form-container">
            <h2>Присоединиться к игровой комнате</h2>
            <form method="post" action="{% url 'join_room' %}">
                {% csrf_token %}
                <label for="room_name">Имя комнаты *</label>
                <input type="text" id="room_name" name="room_name" required>
                <label for="username">Ваше имя *</label>
                <input type="text" id="username" name="player_name" required>
                <input type="submit" value="Присоединиться">
            </form>
        </div>
    </div>
    <div class="content">
        <div class="form-container">
            <h2>Ваши игровые комнаты</h2>
{#            TODO Тут треба поставити щоб воно перевіряло, чи є кімната#}
            <ul>
                {% for room in player_rooms %}
                    <li>
                        <a href="{% url 'game_room' room.name %}">{{ room.name }}</a>
                    </li>
                {% empty %}
                    <li>Вы не присоединились ни к одной игровой комнате.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
</body>
</html>